*, /* обращаюсь ко всем превдо тегам на странице */
*::after, 
*::before{
    box-sizing: border-box;
}

a { /* обращаемся к ссылкам всем */
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul{
    list-style: none; /* все ul без точек */
}
body { /* прописываем всему body цвет */ 
    color: #3d3131;
    font-family: 'Lato', sans-serif; /* подключили шрифт для всего тела */
    font-size: 16px;
    line-height: 28px; /* подклучили размер шрифтов для всего текста*/
    font-weight: 400; /* ширина шрифта */ 
}

.container{ /* описывает контейнер где маленькие фото */
    max-width: 1200px; /* максимальная ширина контейнера container */
    padding: 0 15px; /* отступ с права и с лева */
    margin: 0 auto; /* для того чтобы контейнер центрировался */
}

.container-content{
    max-width: 970px; /* максимальнаяширина контейнера */
    margin: 0 auto; /* для того чтобы контейнер центрировался */
}

.title{
    font-family: Georgia;
    font-size: 32px;
    line-height: 38px;
    align-items: center;
    color: #4E5665;
    text-align: center;
    font-weight: 400px;
}

.section-line{
    border-bottom: 1px solid rgba(190, 162, 162, 0.836);
}

.header__top { /* вешаем на него картинку банер */
    background-image: url('../images/top-bg.jpg');/* картинка не показалась полностью так как занимала пространства столько сколько в ней контента */
    height: 100vh; /* займет 100% экрана по шире тоже так как элемент блочный */
    background-repeat: no-repeat;
    background-size: cover; /* замастить или растянуть  */
    background-position: center;/* картинка будет центрироваться относительно места со всех краев */
    padding: 40px; /* внутрений отступ блока все элементы в нем сжал ровно кординатам*/
}

.header__top-inner { /* Сделали контейнер для обвертки на фото есть маленькая полоса */
    border: 2px solid #8C001A; /* обводка и красный цвет оббводки */
    border-bottom: none; /* Прописывает что бы не было линии рамочки в низу */
    display: flex; /* Выстраиваем все елементы в один ряд */
    flex-direction: column; /* свойство , указывающее на то,как flex-элементы располагаются во flex-контейнере по главной оси и направлению (normal или reversed). */
    height: 100%;
    color: #fff; /* цвет текста */ 
    font-family: Georgia; /* прописываем шрифт для ВИНО */
}

.header__title { /* Дочерний элемент header__top-inner */
    font-weight: bold;
    font-size: 200px;
    line-height: 227px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); /* взяли данные с фигмы подключили тень */
    margin: auto; /* надпись вино оттолкнула все стороны и стала в центр */
}

.header__text { /* дочерний элемент является флекс элементом */
    font-size: 24px;
    line-height: 27px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    display: flex; /* прописываем чтобы блок принял немного бругие свойства */
    white-space: nowrap; /* нельзя тексту переноситься */
    align-items: center; /* вертикальное центрирования элементов */
    margin-bottom: -12px; /* отступ линии красной выравнивает ее */
}

.header__text::after,/* псевдо элементы делаем подчеркивание с низу  */
.header__text::before {
    content: ""; /* что бы линии появлялись с лева и с права нужно прописать content */
    border-top: 2px solid #8C001A; /* линния прописываем снизу с заманчевым цветом */
    width: 100%; /* прописали after и befor по 100% он расширил и сузил надпись по середине */
}

.header__text::after { /* сделали отступы от текста под вином красной линии */
    margin-left: 30px;
}

.header__text::before {/* сделали отступы от текста под вином красной линии */
    margin-right: 30px;
}

/* *********************все данные банера верхнего*********************** */

.menu { /* создаем нилию бордьр с низу */
    border-bottom: 1px rgba(208, 212, 216, .5);
}

.menu__list { /* прописываем для всех ul стили */
    display: flex; /* блоки выставляемм в строки */
    justify-content: center; /* выровнять контент по центрув */
    align-items: center;
    list-style-type: none; /* убираем точки в ul */
}

.menu__list-link{ /* стилизуем ссылки */
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    padding: 24px 10px 20px; /* отступы ссылки */
    color: #909090; /* цвет ссылки */
    margin: 0 6px; /* отступы от линии и линков */
    border-bottom: 4px solid transparent; /* сделали для того чтобы при наведении мыши на меню не прыгал код transparent - это прозрачность */
    transition: all .5s;/* замедление перемещение курсора */
}

.menu__list-link:hover{ /* свойства когда наводим курсор будет меняться класс */
    color: #4E5665; /* досветка при наведении мышы */
    border-bottom: 4px solid #8C001A;
}

.raeson{ /* стили для всей секции */
    padding: 80px 0 0; /* отсупы с верху и снизу */
}

.raeson-title{
    margin-bottom: 22px;
}
.raeson__link{ /* перемещаем ссылку в правую сторону */
    text-align: right;
}
.raeson__link a{
    font-weight: 700;
    color: #8C001A;
    margin-bottom: 36px; /* отступ от нижнего края */
}

.raeson__statistics{ /* ввыранивание блоков с картинками 4 шт */
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 80px;
}

.raeson__statistics-num{ /* прописываем стили блокам с номерами под катриками блоки под банерами статистики */
    color: #4E5665;
    margin-top: 32px;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;

}
.raeson__statistics-text{ 
    /* прописываем стили блокам с текстами под катриками блоки под банерами статистики */
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #909090;
}

.about{
    padding: 80px 0 0; /* отступы написали для секции about */
}

.about_title{
    margin-bottom: 13px;
}

.about__text{
    margin-bottom: 72px; /* Отступ между строками текста */
}

.about__item{
    margin-bottom: 100px;
    padding: 70px 0; /* внутрение отступы от текста */ 
    background-repeat: no-repeat; /* не повторять картинку */
    background-position: right; /* перемещаем картинку в право */
}

.about__box{
    padding: 33px 40px 33px; /* отступы для текста внутри контейнера */
    background-color: #fff;
    max-width: 470px;/* максимальная ширина контейнера где будет лежать текст  */
    position: relative;
}

.about__box::after, /* создаем красные обводку текста ФЛАЖКИ*/ 
.about__box::before{
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
}

.about__box::after{ /* Стили для ФЛАЖКОВ нижних */
    border-bottom: 2px solid #8C001A; /* обводка */
    border-right: 2px solid #8C001A;  /* обводка */
    right: 19px; /* расположение в блоке */
    bottom: 19px;/* расположение в блоке */
}

.about__box::before{ /* Стили для ФЛАЖКОВ верхних */
    border-top: 2px solid #8C001A;
    border-left: 2px solid #8C001A;  
    left: 19px;/* расположение в блоке */
    top: 19px;/* расположение в блоке */
}

.about__box-title{ /* стили для текста и тайтла для блока  box-title*/
    font-family: Lato;
    font-size: 24px;
    line-height: 25px;
    color: #505050;
    margin-bottom: 20px;
}
/* обращаемся .about__item к ребенку even-это четность не четные это odd переносим картнку nth-child в лево одну из картинок  */
.about__item:nth-child(even){
    background-position: left;
}
/* делаем внешние отсупы автоматическими */
.about__item:nth-child(even) .about__box{
    margin-left: auto;
}

/* .about__item:nth-child(even) .about__box::before{
    right: 19px;
    left: auto;
    background-image: none;
    border-right: 2px solid #8C001A;
    border-top: 2px solid #8C001A;
}
 */

.about__preview-title{
    margin-bottom: 38px;
}

.about__preview-text{
    margin: 53px auto 80px;
}

.about__images-box{
    padding-top: 73px;
    padding-left: 50%;
    position: relative; /* для того чтобы кружки двигать */
}

.about__dot{ /* создаем точку на бутылке */
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(140, 0, 26, .75);
    position: absolute;
    cursor: pointer;
} 

.about__dot--1{
    left: 772px;
    top: 609px;
}

.about__dot--2{
    left: 626px;
    top: 753px;
}

.about__dot--3{
    top: 470px;
    right: 425px;
}


.about__dot::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #8C001A;
    top: 50%; /* чтобы кружечек посавить в кружечек  */
    left: 50%;
    transform: translate(-50%, -50%);/* чтобы кружечек посавить в кружечек  */
}

.about__dot::before{ /* ставим линиюкрасную к кружку */
    content: "";
    background-image: url("/images/line.svg");
    width: 244px;
    height: 122px;
    top: -102px;
    left: 15px;
    position: absolute;
    display: none; /* делаем для того чтобы при наведении появлялась надпись */
}

.about__dot:hover::before{ /* при наведении на beforу будет выводиться текст */
    display: block;


}

.about__dot:hover .about__dot-text{ /* при наведении на beforу будет выводиться текст */
    display: block;
    

}

.about__dot-text{
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #8C001A;
    position: absolute;
    white-space: nowrap; /* выравнивает текст в одну линию  и фраза не переносилась*/
    top: -149px;
    left: 165px;
    display: none; /* делаем для того чтобы при наведении появлялась надпись */
}

.photo{
    padding: 80px 0;
}

.photo__title{
    margin-bottom: 42px;
}

.photo__text{ /* создаем отступы от теста для создании линии */
    padding-bottom: 48px; /* растояние до линии нижнее */
    margin-bottom: 56px; /* растояние от линии */
    position: relative;
}

.photo__text::after{
    content: "";
    width: 270px;
    position: absolute;
    height: 1px;
    background-color: rgba(208, 212, 216, .5);
    bottom: 0; /* делаем отступ для линии прижимаем ее к низу*/
    margin: 0 auto; /* поставили линию по центру */
    left: 0; /* выравняли линию по бокам */
    right: 0;
}

.photo__slider{ /* что бы работал фотослайдер  */
    max-width: 640px; /*  ширина слайдера */
    margin: 0 auto; 
    filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));

}

.slick-arrow{ /* Стилизуем кнопку стрелку слайдера обращаемся ук стилям которые находятся в папке маин */
    border: none;
    width: 40px;
    height: 40px;
    background-color: #8C001A;
    border-radius: 50%;
    cursor: pointer; /* создаем руку для наводки на кнопку */
    position: absolute; /* ставим стрелки на место */
    /* top: 50%; проблема работі*/ 
    transform: translateY(-50%); /* Трансфомировать по оси У на половину себя */
    z-index: 5;
}

.slick-prev{
    left: 0px;
}

.slick-next{
    right: 0px;
}

.footer{ /* стилизируем футер сайта */
    background: #8C001A; /* цвет блока */
    padding: 55px 0 32px; /* внутрений отступ блока */
}

.footer__items{
    display: flex;
    justify-content: space-between; /* прибиваем по краям */
}

.footer_item{ /* прописываем внтри блока ширрину для того если будет длинное назавне блок не рвалс а переносил данные */
    width: 140px;
}

.footer__item--blog{
    width: 300px;
}
.footer__item--copmany{
    padding-left: 8px;
}

.footer__item-title{
    padding-left: 40px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase; /* Все символы текста становятся прописными (верхний регистр). */
}

.footer__item-list{
    padding-top: 40px;
    text-align: left;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}

.footer__item-link--social{ /* прописываем стили иконкам социальным */
    padding-left: 28px;
    position: relative;
}

.footer__item-link--social::before{
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
}

.footer__copy{
    padding-top: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}

.footer__item-link--massage::before{
background-image: url("../images/cont.svg");
width: 17px;
top: 1px;
}

.footer__item-link--facebook::before{
background-image: url("/images/face.svg");
}

.footer__item-link--insragram::before{
background-image: url("/images/instagram-logo.svg");
}

.footer__item-link--youtube::before{
background-image: url("/images/yout.svg");
}

.footer__item-link--email::before{
background-image: url("/images/mail.svg"); 
height: 13px;
top: 2px; 
}

.menu__btn{ /* прописываем скрытие блоку кнопки при десктопной версии если меньше 700 пикселей*/
    display: none;
}

.about__images-box img{ /* обращаемся к классу максимальной с картинкой и задаем ему ширину максимальную 100% от экрана для отодражения на мобильной версии */
    max-width: 100%;
}

/* *******************
Делаем Адаптив

******************** */
@media (max-width: 840px){ 
    .about__box{/* прописываем для картинок с блюдом под банером */
        margin: 0 auto;
    }
    .about__dot--1 {
        left: 507px;
        top: 609px;
    }
    .about__dot--3 {
        top: 474px;
        right: 189px;
    }
    .about__dot--2 {
        left: 380px;
        top: 752px;
    }
    .about__item{
        padding: 382px 0 70px;
        background-position: top;
        margin-bottom: 0;
    }
    .about__item:nth-child(even){ /* поменяли для нижней картинки с left на top что бы выровнять изображение */
        background-position: top;
    }
    .footer__items{
        flex-wrap: wrap; /* выравниваем все блоки свойством друг под друга */
    }
    .footer__item{
        width: 50%; /* прописываем проценты 50% от данных в контейнере */
        margin-bottom: 35px; /* отступ от нижнего края  */
        padding-right: 25px; /* для того что бы если длинный текст не чего не преслонилось не когда */
    }

}

@media (max-width: 700px){ /*свойство max-width работает на мниторах 700px и меньше для шапки сайта */
    .header__title{ /* задаем ширину для вино */
        font-size: 120px;
        line-height: 150px;
    }
    .header__text{ /* задаем для текста */
        font-size: 20px;
    }
    .menu{
        position: relative;
    }
    .menu__btn{
        display: block;
        width: 40px;
        cursor: pointer;
        position: absolute;
        right: 40px;
        top: 10px;
    }

    .menu__btn span{ /* в мобилке выпадающее меню полоски */
        display: block;
        margin-bottom: 5px;
        background-color: #8C001A;
        height: 4px;
    }
    .menu__list{ /* Сдесь должен скрываться меню лист при размере уменьшеном в мобилку уходит с дестоп версии меню */
        display: none;
        padding-top: 40px;
        text-align: center; /* выравниваем текст по середине выпадающего меню */
        border-bottom: 4px solid #8C001A;
    }
    .menu__list-link{
        display: block;/*  Деваем в выпадающем меню ссылкам на категории блок с линией подчеркивания */
        border-top: 4px solid #8C001A;
    }
    .menu__list-link:hover{ /* свойства когда наводим курсор будет меняться класс */
        border-bottom: none;
    }
    .slick-next{
        right: 20px;
    }
    .slick-prev{
        left: 20px;
    }

}

@media (max-width: 540px){ /* для шапки сайта */
    .header__text{
        display: none;
    }
    .header__title{ /* задаем ширину для вино */
        font-size: 80px;
        line-height: 110px;
    }
    .header__top-inner{
        border: 2px solid #8C001A;
    }
    .header__title{
        font-size: 100px;
    }
    .title{ /* сделали текст под банером меньше */
        font-size: 24px;
        line-height: 28px;
    }
    body{
        font-size: 15px;
        line-height: 24px;
    }
    .raeson__statistics{ /* прописываем стили для картинок после текста они становятся в ряд друг за другом*/
        display: block;
    }
    .reason{
        padding-top: 37px;

    }
    .raeson__statistics-item{ /* прописываем стили для картинок после текста */
        margin-bottom: 35px;
    }
    .about__dot--1 {
        left: 358px;
        top: 464px;
    }
    .about__dot--3 {
        top: 357px;
        right: 121px;
    }
    .about__dot--2 {
        left: 280px;
        top: 590px;
    }
}
@media (max-width: 470px){ 
    .footer__items{
        display: block; /* прописываем дисплею состояние блока */

    }
    .footer__item{
        width: 100%;
        padding-right: 0;
    }

}
@media (max-width: 410px){ /* для шапки сайта */
    .header__title{ /* задаем ширину для вино */
        font-size: 60px;
        line-height: 80px;
    }
    .header__top{
        padding: 9px;
    }
    .about__dot{ /* убираем точки красные на бутылке */
        display: none;
    }
    .about__images-box{
        padding-top: 0;
    }
}    

@media (min-width: 700px){ /* раблотает на мониторах больше 700 пикселей */
    .menu__list{
        display: flex !important;
    }
}